
h1 {
  margin: 0 auto;
  padding: 20px;         
  background-color:  #ddd; 
  height: 50px;  
  text-align: center;     
  border-top: solid  5px red;
  border-bottom: solid 5px red;
}

#table{
  display: flex;
  justify-content: space-around;
}

#waiting {
  margin: 100px 0 auto;
  text-align: center;
  animation:blink 1.5s ease-in-out infinite alternate;
}

@keyframes blink{
    0% {opacity:0;}
    100% {opacity:1;}
}

#anyButtons {
  position: relative;
  width: 100%;
  height: 30px;
} 

.blank1 {
  width: 100%;
  height: 100px;
}

.blank2 {
  width: 100%;
  height: 50px;
}

#resetButton {
  position: absolute;
  right: 0;
  top: 100%;
  margin-top: 50px;
}

.stratButton {
  font-size: x-large;
  display: block;
  padding: 1em 1em;
  margin: 0px auto;
  cursor: pointer;
}

.content {
  display: none;
}

.content.active {
  display: block;
}

#description {
  text-align: center;
}

#predictionNumber{
  text-align: center;
}

.inputNumber {
  width: 100px;
  height: 100px;
  font-size: 90px;
}

#mainButton {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 100%;
  margin-top: 10px; 
}

#challengeNumber {
  padding: 0.5em 0.5em;
  font-size: 30px;
  cursor: pointer;
}

#popup {
  display: none;
}

.overlay {
  display: none;
}

#popup:checked ~ .overlay {
  display: block;
  z-index: 99999;
  background-color: #00000070;
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
}

.window {
  width: 90vw;
  max-width: 560px;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 6px;
}

#subnumberMemoBox {
  display: flex;
  background-color: #eee; 
  padding:  10px;
  justify-content: center; 
}

.flex_item {
  padding: 10px;
  color: black; 
  margin:  10px;  
  border-radius:  5px; 
  cursor: pointer;
}

.flex_item:nth-child(1) {
    background-color: cyan;
}

.flex_item:nth-child(2) {
    background-color: cyan;
}

.flex_item:nth-child(3) {
    background-color: cyan; 
}

.flex_item:nth-child(4) {
    background-color: cyan; 
}

.flex_item:nth-child(5) {
    background-color: cyan; 
}
.flex_item:nth-child(6) {
    background-color: cyan;
}

.flex_item:nth-child(7) {
    background-color: cyan; 
}

.flex_item:nth-child(8) {
    background-color: cyan; 
}

.flex_item:nth-child(9) {
    background-color: cyan; 
}

.flex_item:nth-child(10) {
    background-color: cyan; 
}
